*.p0*
*.p1*
*.b0*
*.b1*
*.r0*
*.r1*
*.std
*.htp
*.eva
*.tds
*.bar
*.cov
*.dep
*.hes
*.rpt
*.cpp
*.log
*.obj
*.tmp
*.ecm
*.mc2
*.mcm
*.hst
*.psv
*.ss_new
gradient.1
gradient.2
gradient.3
gradient.4
gradient.5
gradient.dat
rebuild.sso
echoinput.sso
SIS_table.sso
runnumber.ss
tmp_admb
variance
CumReport.sso
ParmTrace.sso
ss.cor
ss.rep
ss.par
*.exe
*.bat
ignored
revdep
\.Rhistory
*\.Rproj
.Rproj.user
*.sso
database_specs.csv
Data_comparison.xlsx
catch_diffs.xlsx
Hist_SSB.xlsx
Hist_trawl_fit.xlsx
COMPREHENSIVE_OBS_EM.csv
emailed data/
retrospectives/
LeaveOneOut/
MCMC/
output/
delta_glm_1-7-2.get
ADFGsurvcatch.csv